body {
  font-family:Arial;
  padding: 0px 40px;
}

.header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 40px;
}

.total-student {
  font-size: 20px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

table, 
td, 
th {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.button-table {
  margin: 5px;
}

.ringkasan-container {
  display: flex;
  gap: 100px;
}