body {
  font-family:Arial;
}

.header-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.title-dashboard {
  margin-left: 100px;
}

.total-student {
  font-size: 20px;
  margin-right: 1020px;
}

label {
  font-size: 20px;
}

input {
  font-size: 20px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

table, 
td, 
th {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.button-table {
  margin: 5px;
}

.ringkasan-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-right: 1100px;
}